/* ==== GENERAL ==== */
body {
  font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

#hero {
  background: url('../img/skyscraper.png');
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 10%;
  text-align: center;
  color: white;
}

#facebook-advertising {
    background: url('../img/generic-bg.jpg');
    background-repeat: repeat;
    padding: 5%;
}

#background-space {
  background: url('../img/clocks.jpg');
  background-position: center;
  background-size: cover;
  padding: 200px;
}

.navbar {
    background:transparent;
}

.navbar-inverse {
  border: none;
}

#facebook-hero {
  background: url('../img/Lake.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 10%;
  text-align: center;
  color: white;
}



#chiropractic-hero {
  background: url('../img/Water-Drops.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 10%;
  text-align: center;
  color: white;
}

#pricing {
  background-color: #F3F3F3;
  padding: 50px;
}

footer {
  padding: 50px;
  background-color: #222222;
  color: white;
}

#request {
  margin-top: 100px;
}

#careers {
  margin-top: 100px;
}


#team {
  margin-top: 100px;
}
